openapi: 3.0.0

info:
  version: "1.0"
  title: "LBAW NARCOS API"
  description: "Web Resources Specification (A7) for NARCOS"

servers:
  - url: https://lbaw22131.lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw22131/-/wikis/home

tags:
  - name: "M01: Authentication"
  - name: "M02: Profile and User Information"
  - name: "M03: Articles"
  - name: "M04: Comments"
  - name: "M05: Topics"
  - name: "M06: Messages and Notifications"
  - name: "M07: User Administration"
  - name: "M08: Static Pages"

paths:
  # M01: Authentication
  /login:
    get:
      operationId: R101
      summary: "R101: Login Form"
      description: "Provide login form. Access: PUB"
      tags:
        - "M01: Authentication"
      responses:
        "200":
          description: "Ok. Show log-in UI"
    post:
      operationId: R102
      summary: "R102: Login Action"
      description: "Processes the login form submission. Access: PUB"
      tags:
        - "M01: Authentication"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: # <!--- form field name
                  type: string
                  format: email
                password: # <!--- form field name
                  type: string
                  format: password
              required:
                - email
                - password

      responses:
        "302":
          description: "Redirect after processing the login credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to homepage"
                  value: "/"
                302Error:
                  description: "Failed authentication. Redirect to login form."
                  value: "/login"

  /logout:
    post:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated used. Access: USR, ADM"
      tags:
        - "M01: Authentication"
      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to login form."
                  value: "/"

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide new user registration form. Access: PUB"
      tags:
        - "M01: Authentication"
      responses:
        "200":
          description: "Ok. Show sign-up UI"

    post:
      operationId: R105
      summary: "R105: Register Action"
      description: "Processes the new user registration form submission. Access: PUB"
      tags:
        - "M01: Authentication"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                date_of_birth:
                  type: string
                  format: date
                avatar:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password
                - date_of_birth

      responses:
        "302":
          description: "Redirect after processing the new user information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful authentication. Redirect to homepage."
                  value: "/register"
                302Failure:
                  description: "Failed authentication. Redirect to register form."
                  value: "/register"

  # M02 : Profile and User Information

  /user/{id}:
    get:
      operationId: R201
      summary: "R201: View user profile"
      description: "Show the individual user profile. Access: PUB"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show user profile."
        "404":
          description: "User not found"

    put:
      operationId: R202
      summary: "R202: Edit user profile"
      description: "Processes the user edit profile form submission, Acess: OWN"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                date_of_birth:
                  type: string
                  format: date
                avatar:
                  type: string
                  format: binary

      reponses:
        "302":
          description: "Redirect after processing the user updated information"
          header:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful profile edition. Redirect to user profile."
                  value: "/user/{id}"
                302Failure:
                  description: "Failed profile edition. Redirect to edit profile form."
                  value: "/user/{id}/edit"

    delete:
      operationId: R203
      summary: "R203: Delete user profile"
      description: "Processes a request to delete the user's account, Acess: OWN"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      reponses:
        "302":
          description: "Redirect after deleting user account."
          header:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful user account deletion. Redirect to homepage."
                  value: "/"
                302Failure:
                  description: "Failed delete user account. Redirect to user profile."
                  value: "/user/{id}"

  /user/{id}/edit:
    get:
      operationId: R204
      summary: "R204: User profile edition form"
      description: "Show edition of user profile. Access: OWN"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show user profile edition."
        "401":
          description: "Unauthorized. Not authenticated."
        "403":
          description: "No access allowed. Must be the owner."
        "404":
          description: "User not found"

  /user/{id}/report:
    get:
      operationId: R205
      summary: "R205: Report user"
      description: "Report other user. Access: USR"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
                required:
                  - reason

      responses:
        "200":
          description: "User reported."
        "400":
          description: "Failed to report user. Bad request"
        "401":
          description: "Unauthorized. Not authenticated."
        "404":
          description: "User not found"

  /user/{id}/followed:
    get:
      operationId: R206
      summary: "R206: Followed users"
      description: "List of the users that that the user follows. Access: OWN"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Show list of followed users."
        "401":
          description: "Unauthorized. Not authenticated."
        "404":
          description: "User not found"

  /user/{id}/follow:
    get:
      operationId: R207
      summary: "R207: Follow user"
      description: "Follow user. Access: USR"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "User followed."
        "401":
          description: "Unauthorized. Not authenticated."
        "404":
          description: "User not found"

  /user/{id}/unfollow:
    get:
      operationId: R208
      summary: "R208: unfollow user"
      description: "Unfollow user. Access: USR"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "User unfollowed."
        "401":
          description: "Unauthorized. Not authenticated."
        "404":
          description: "User not found"

  /search/users:
    get:
      operationId: R209
      summary: "R209 : User search"
      description: "Provides a page component with a list of users, according to the parameters. Access: PUB"
      tags:
        - "M02: Profile and User Information"

      parameters:
        - in: query
          name: value
          description: "string used for full-text search"
          schema:
            type: string
          required: true
        - in: query
          name: offset
          description: "value used to fetch results starting at a certain value"
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: "value used to limit the number of results"
          schema:
            type: integer
            minimum: 1
          required: false

      responses:
        "200":
          description: "OK. Show a list of users."

  # M03 : Articles

  /search:
    get:
      operationId: R301
      summary: "R301 : Search Page"
      description: "Show Search Page given a search type and value. Access: PUB"
      tags:
        - "M02: Profile and User Information"
        - "M03: Articles"

      parameters:
        - in: query
          name: type
          description: "Search type"
          schema:
            type: string
            enum:
              - "article"
              - "user"
          required: true
        - in: query
          name: query
          description: "string used for full-text search"
          schema:
            type: string
          required: false

      responses:
        "200":
          description: "OK. Show search page"

  /search/articles:
    get:
      operationId: R302
      summary: "R302 : Returns articles according to given parameters"
      description: "Returns search results according to user parameters. Access: PUB"
      tags:
        - "M03: Articles"

      parameters:
        - in: query
          name: query
          description: "string used for full-text search"
          schema:
            type: string
          required: false
        - in: query
          name: offset
          description: "value used to fetch results starting at a certain value"
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: "value used to limit the number of results"
          schema:
            type: integer
            minimum: 1
          required: false

      responses:
        "200":
          description: "OK. Show searched articles"

  /article:
    get:
      operationId: R303
      summary: "R303 : Create article form"
      description: "Provide new article creation form. Access: USR"
      tags:
        - "M03: Articles"

      responses:
        '200':
          description: 'Ok. Show Create Article Form'
        '302':
          description: 'Redirect after trying to get Create Article Form'
          headers:
            Location:
              schema:
                type: string  
              examples:
                302Failure:
                  description: 'You are not logged in. Failed article creation. Redirect to login Page.'
                  value: '/login' 

    post:
      operationId: R304
      summary: "R304 : Create article action"
      description: "Processes the new article creation form. Access: USR"
      tags:
        - "M03: Articles"

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                thumbnail:
                  type: string
                  format: binary
                body:
                  type: string
                topic_id:
                  type: array
                  minLength: 1
                  maxLength: 3
              required:
                - title
                - body
                - topic_id

  /article/{id}:
    get:
      operationId: R305
      summary: "R305 : View Article Page"
      description: "View an Article Page. Access: PUB"
      tags:
        - "M03: Articles"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "OK. Show Article Page"
        "404":
          description: "Article not found"

    delete:
      operationId: R306
      summary: "R306 : Delete article action"
      description: "Processes a request to delete an article. Access: OWN, ADM"
      tags:
        - "M03: Articles"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        302:
          description: "Redirect after deleting article."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful article deletion. Redirect to homepage."
                  value: "/"
                302Failure:
                  description: "Failed to delete article. Redirect to article page"
                  value: "/article/{id}"


      responses:
        "302":
          description: "Redirect after processing the create article form."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful article creation. Redirect to Article Page."
                  value: "/article/{id}"
                302Failure:
                  description: "Failed article creation. Redirect to Create Article form."
                  value: "/article"


/article/{id}/edit:
    get:
      operationId: R307
      summary: "R307 : Article edition form"
      description: "Provide a form for article edition. Access: OWN"
      tags:
        - "M03: Articles"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "OK. Show article edition form"
        "401":
          description: "Unauthorized. Must be authenticated."
        "403":
          description: "Unauthorized. Must be the owner of the article"
        "404":
          description: "Article not found"

    put:
      operationId: R308
      summary: "R308 : Edit article action"
      description: "Processes the user edit profile form submission. Access: OWN"
      tags:
        - "M03: Articles"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                thumbnail:
                  type: string
                  format: binary
                body:
                  type: string

      responses:
        "302":
          description: "Redirect after processing the article updated information"
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful article edition. Redirect to the article page."
                  value: "/article/{id}"
                302Failure:
                  description: "Failed article edition. Redirect to the edit article page."
                  value: "/article/{id}/edit"


  # M08 : Static Pages

  /about:
    get:
      operationId: "R801"
      summary: "R801: About Page"
      description: "Page with information about us. Access: PUB"
      tag:
        - "M08: Static Pages"

      responses:
        "200":
          description: "Ok. Show about us page."

  /faq:
    get:
      operationId: "R802"
      summary: "R802: Frequently Asked Questions"
      description: "Page with the most frequent asked question. Access: PUB"
      tag:
        - "M08: Static Pages"

      responses:
        "200":
          description: "Ok. Show FAQ."
