body {
    background-color: #ada5a5;
    color: #000000;
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: var(--bs-red);
    padding: 1em;
    margin: 1em;
  }
  main > header h1 {
    margin: 0;
  }
  main > header a.button {
    margin: 1em;
    justify-self: center;
  }
  main > header span {
    margin: 1em;
    justify-self: center;
  }

  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #000000;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form input {
    background-color: white;
  }

  /**
   * Overide milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #fc8282;
    border-color: #000000;
  }
  a.button {
    background-color: #fc8282;
    border-color: #fc8282;
  }
  a.button.button-outline {
    color: #fc8282;
  }
  a {
    color: #ffffff;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #000000;
  }
  
  #footerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e7afaf;
    color: white;
    text-align: center;
  }
  